.contactContainar{
    width: 100%;
    height: 300vh;
    background-color: rgb(20,20,20);
    color: aliceblue;
}
/* 小見出し */
.contactMainArea{
    padding-top: 70px;
    padding-bottom: 70px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
}
/* 小見出しアニメーション */
.contactFadein01{
    opacity: 0;
    transition-delay: initial 1000ms; 
    transition: all 3100ms; /*1000msで1秒 */
}
.contactFadein02{
    opacity: 0; 
    transition-delay: initial 1000ms;
    transition: all 2700ms; /*1000msで1秒 */   
}
.contactFadein03{
    opacity: 0; 
    transition-delay: initial 1000ms;
    transition: all 2300ms; /*1000msで1秒 */   
}
.contactFadein04{
    opacity: 0; 
    transition-delay: initial 1000ms;
    transition: all 2900ms; /*1000msで1秒 */   
}
.contactFadein05{
    opacity: 0; 
    transition-delay: initial 1000ms;
    transition: all 1800ms; /*1000msで1秒 */   
}
.contactFadein06{
    opacity: 0; 
    transition-delay: initial 1000ms;
    transition: all 2500ms; /*1000msで1秒 */   
}
.contactFadein07{
    opacity: 0; 
    transition-delay: initial 1000ms;
    transition: all 3000ms; /*1000msで1秒 */   
}
.contactImg{
    width: 100%;
    height: 30%;
    background-image: url(../jpeg/contact02.jpg);
    background-size: cover;
    background-position: right;
    background-attachment: fixed; 
}
@media (max-width:600px){
    .contactImg{
        background-size: cover;
    }
}
.concactTextArea{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.contactImg01{
    width: 100%;
    height: 15%;
    background-image: url(../jpeg/contact02.jpg);
    background-size: cover;
    background-position: right;
    background-attachment: fixed; 
}
@media (max-width:600px){
    .contactImg01{
        background-size: cover;
    }
}
.contactTextShadow{
    position: relative;
    top: 30px;
    width: 100%;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.646);
}
.contactTextShadow01{
    position: relative;
    top: 50px;
    width: 100%;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.646);
}
.contactTextShadow02{
    position: relative;
    top: 70px;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.646);
}
.contactTextShadow03{
    position: relative;
    top: 90px;
    width: 100%;
    height: 6.5vh;
    background-color: rgba(0, 0, 0, 0.646);
}
/* 問い合わせテキスト */
.concactTextArea01
{  margin: 0 auto;
   display: inline-block; 
   width: 90%;
   height: 50px;
   background-color: aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 1000ms;
   opacity: 0;
}
.concactTextArea01 a{
    text-decoration: none;
    transition: all 1000ms;
    color: black;
}
.concactTextArea01:hover{
    transform: scale(1.2,1.2);
    background-color: rgb(20,20,20);
    border-top: 1px solid snow;
    border-bottom: 1px solid snow;
    animation: normal;
    animation-duration: 2500ms;
    animation-name: ikeike;
}
.concactTextArea01 a:hover{
    color: snow;
}

.concactTextArea02
{  margin: 0 auto;
   display: inline-block; 
   width: 90%;
   height: 50px;
   background-color: aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 1000ms;
   opacity: 0;
}
.concactTextArea02 a{
    text-decoration: none;
    color: black;
}
.concactTextArea02:hover{
    transform: scale(1.2,1.2);
    background-color: rgb(20,20,20);
    border-top: 1px solid snow;
    border-bottom: 1px solid snow;
    animation: normal;
    animation-duration: 2500ms;
      animation-name: ikeike;
}
.concactTextArea02 a:hover{
    color: snow;
}
.concactTextArea03
{  margin: 0 auto;
   display: inline-block; 
   width: 90%;
   height: 50px;
   background-color: aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 1000ms;
   opacity: 0;
}
.concactTextArea03 a{
    text-decoration: none;
    color: black;
}
.concactTextArea03:hover{
    transform: scale(1.2,1.2);
    background-color: rgb(20,20,20);
    border-top: 1px solid snow;
    border-bottom: 1px solid snow;
    animation: normal;
    animation-duration: 2500ms;
    animation-name: ikeike;
}
.concactTextArea03 a:hover{
    color: snow;
}
.concactTextArea04
{  margin: 0 auto;
   display: inline-block; 
   width: 90%;
   height: 50px;
   background-color: aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 1000ms;
   opacity: 0;
}
.concactTextArea04 a{
    text-decoration: none;
    color: black;
}
.concactTextArea04:hover{
    transform: scale(1.2,1.2);
    background-color: rgb(20,20,20);
    border-top: 1px solid snow;
    border-bottom: 1px solid snow;
    animation: normal;
    animation-duration: 2500ms;
    animation-name: ikeike;
}
.concactTextArea04 a:hover{
    color: snow;
}
.concactTextArea05
{  margin: 0 auto;
   display: inline-block; 
   width: 90%;
   height: 50px;
   background-color: aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 1000ms;
   opacity: 0;

}
.concactTextArea05 a{
    text-decoration: none;
    color: black;
}
.concactTextArea05:hover{
    transform: scale(1.2,1.2);
    background-color: rgb(20,20,20);
    border-top: 1px solid snow;
    border-bottom: 1px solid snow;
    animation: normal;
    animation-duration: 2500ms;
      animation-name: ikeike;
}
.concactTextArea05 a:hover{
    color: snow;
}
@keyframes ikeike{
    0%,45%{
        transform: skew(0deg,0deg);
    }
    5%{
        transform: skew(2.5deg,2.5deg);
    }
    15%{
        transform: skew(-1.6deg,-1.6deg);  
    }
    20%{
        transform: skew(1.7deg,1.7deg);
    }
    25%{
        transform: skew(-1.3deg,-1.3deg);
    }
    30%{
        transform: skew(0.8deg,0.8deg);
    }
    35%{
        transform: skew(-0.6deg,-0.6deg);
    }
    40%{
        transform: skew(0.3deg,0.3deg);
        
    }
}
/* スクロールアップ */
.scrollUpArea{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scrollUpButton{
    width: 11%;
    height: 40%;
    border-radius: 50%;
    background-color: rgb(220, 230, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: black;
    transition: all 800ms;
    animation: infinite;
    animation-duration: 6000ms;
    animation-name: fuwafuwa;
    animation-timing-function: linear;
}
@media (max-width:600px){
    .scrollUpButton{
        width: 16%;
        font-size: 1rem;
    }
}
.scrollUpButton:hover{
    background-color: rgba(66, 67, 68, 0.709);
    color: aliceblue;
}
@keyframes fuwafuwa{
    0%{
        transform: translate(0,0) rotate(-7deg);
    }
    25%{
        transform: translate(4px,6px) rotate(-5deg);
    }
    50%{
        transform: translate(-6px,10px) rotate(6deg);
    }
    75%{
        transform: translate(-2px,-5px) rotate(-10deg);
    }
    85%{
        transform: translate(-4px,5px) rotate(4deg);
    }
    100%{
        transform: translate(0,0) rotate(-7deg);
    }
}
.contactscrollin{
    opacity: 1;
    transform: translate(0,0);
}