body{
    background-color: rgb(20, 20, 20);
    height: 200vh;
}
a{
    text-decoration: none;
}
/*オープンアニメーション*/
.up{
    width: 100%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 50%;
    z-index: 99;
}
.down{
    width: 100%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 50%;
    z-index: 99;
}
.line01{
    top: 50%;
    width: 0%;
    height: 1px;
    background-color: black;
    z-index: 100;
    position: fixed;
}
/*ハンバーガーメニュー*/
.asideContainer{
    width: 100%;
    height: 0%;
    background-color: aliceblue;
}
.menuTrigger,
.menuTrigger span{
    display: inline-block;
    transition: all 300ms;
    box-sizing: border-box;
}
.menuTrigger{
    margin-top: 15px;
    margin-left:15px;
    position: relative;
    width: 70px;
    height: 60px;
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
    background-color: rgba(20, 2s0, 20, 0);
    position: fixed;
    top: 0;
    left: 0;
}
.menuTrigger span{
    position: absolute;
    left: 0;
    width: 95%;
    height: 3px;
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
    z-index: 50;
}
.menuTrigger span:nth-of-type(1){
    top: 0;
}
.menuTrigger span:nth-of-type(2){
    top: 30px;
}
.menuTrigger span:nth-of-type(3){
    bottom: 0;
}
.tabToggle01{
    transform:translateY(30px)rotate(-45deg);
}
.tabToggle02{
    opacity: 0;
}
.tabToggle03{
    transform:translateY(-30px)rotate(45deg);
}
.asideMenu{
    width: 100%;
    height: 100vh;
    z-index: 50;
    color: aliceblue;   
}
.asideMenuUl{
    padding-left: 0;
    position: relative;
    position: fixed;
    z-index: 50;
    top: 15%;
    margin: 0 auto;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    background: linear-gradient(60deg,rgba(150, 150, 150, 0.712) 0%,rgba(253, 253, 253, 0.747) 20%,rgba(255, 255, 255, 0.726) 65%,rgba(161, 161, 161, 0.712) 100%),url(../jpeg/aside01.jpeg);
    background-size: cover;
}
.asideMenuUl.asideMenuList{
    justify-content: space-between;
}
.asideMenuText{
    display: inline-block;
    position: relative;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    transition: all 700ms;
}
/*ハンバーガメニューホバーアニメーション*/
@keyframes asideMenuTextcolor{
    0%{
        color: black;
    }
    30%{
        color: rgb(238, 238, 238);
    }
    60%{
        color: rgb(152, 153, 153);
    }
    100%{
        color: rgb(36, 36, 36);
    }
}
.asideMenuText:hover{
    font-size: 35px;
    animation: color;
    animation-name: asideMenuTextcolor;
    animation-duration: 700ms;
    
}
.asideMenuText::after{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: rgb(15, 15, 15);
    transition: all 300ms;
    border-radius: 40%;
}
.asideMenuText:hover::after{
    width: 100%;
    background-color: rgb(107, 107, 107);
}
/*メインコンテンツ*/
.mainLogo{
    width: 100%;
    height: 40%;
}
.mainTopJpeg{
    background: linear-gradient(40deg,rgba(255, 255, 255, 0.493) 0%,rgba(192, 9, 9, 0.473) 60%,rgba(43, 43, 43, 0.473)), url(../jpeg/top.jpeg);
    margin: 0 auto;
    background-size: cover;
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.mainTextContainar{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/*メインテキスト*/
.mainTextContainar .topText01{
    font-size: 2rem;
    color: aliceblue;
    position: relative;
    left: 5px;
}
.topText01{
    transform: translate(-100px,0);
    opacity: 0; 
    transition: all 1000ms; 
}
.mainTextContainar .topText02{
    font-size: 0.5rem;
    color: aliceblue;
    position: relative;
    left: 5px;
}
.topText02{
    transform: translate(100px,0);
    opacity: 0;
    transition: all 1000ms;
}
.mainTextContainar .topText03{
    font-size: 2rem;
    color: rgb(252, 252, 252);
    position: relative;
    left: 5px;
}
.topText03{
    transform: translate(-100px,0);
    opacity: 0; 
    transition: all 1000ms; 
}
.mainTextContainar .topText04{
    font-size: 2rem;
    color: rgb(243, 239, 239);
    position: relative;
    left: 5px;
}
.topText04{
    transform: translate(100px,0);
    opacity: 0; 
    transition: all 1000ms; 
}
@media(max-width:600px){
    .topTextContainar{
        opacity: 0;
    }
}
.mainStoreName{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 10%;
    padding-top: 17px;
    padding-bottom: 17px;
    border:  1px solid aliceblue;
    color: aliceblue;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    transition: all 1200ms;
    transform: rotateY(180deg); 
}
@media(max-width:830px){
    .mainStoreName{
        border: 0px;
    }
}
.bottomTextContainar{
    width: 95%;
    color: aliceblue;
    height: fit-content;
    display: flex;
    align-items: end;
}
.scrollDownText{
    width: 50%;
    height: 100%;
    transform: translate(0,0);
    opacity: 0; 
    transition: all 1000ms; 
}
.bottomTextMain{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
@media(max-width:600px){
    .bottomTextMain{
        opacity: 0;
    }
}
.bottomText01{
    transform: translate(100px,0);
    opacity: 0; 
    transition: all 1000ms; 
}
.bottomText02{
    transform: translate(-100px,0);
    opacity: 0; 
    transition: all 1000ms; 
}
.bottomText03{
    transform: translate(100px,0);
    opacity: 0; 
    transition: all 1000ms; 
}
.bottomText04{
    transform: translate(-100px,0);
    opacity: 0; 
    transition: all 1000ms; 
}
.bottomText05{
    transform: translate(100px,0);
    opacity: 0; 
    transition: all 1000ms; 
}
/*アニメーション用スクロールイン*/
.fadein{
    opacity: 0; 
    transition: all 1000ms; /*1000msで1秒 */
    /* transform: translate(0,80px); */
}
.scrollin{
    opacity: 1;
    transform: translate(0,0);
}
/* スクロールダウンボタン */
.scrollDownText{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.scrollDownTextArea{
    animation: infinite;
    animation-name: rotate;
    animation-duration: 6000ms;
    animation-timing-function: linear;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.scrollDownTextArea span{
    position: absolute;
    top: 0;
    left: calc(50% - 16px);/*中心点文字サイズ分ずらす*/
    display: inline-block;
    width: 30px;
    height: 100px;
    transform-origin: center bottom;/*回転の基準点*/
}
#acolor{
    color: black;
    transition: all 500ms;
}
#acolor:hover{
    color: aliceblue;
}
.scrollDownButton{
    color: black;
    font-size: 1rem;
    position: absolute;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(245, 245, 245, 0.833);
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 800ms;
}
.scrollDownButton:hover{
    width: 100px;
    height: 100px;
    color:whitesmoke;
    background-color: rgba(23, 23, 23, 0.858);
    border: 1px solid white;
}
.scrollDownText01{
    transform: rotate(0deg);
}
.scrollDownText02{
    transform: rotate(20deg);
}
.scrollDownText03{
    transform: rotate(40deg);
}
.scrollDownText04{
    transform: rotate(60deg);
}
.scrollDownText05{
    transform: rotate(80deg);
}
.scrollDownText06{
    transform: rotate(100deg);
}
.scrollDownText07{
    transform: rotate(120deg);
}
.scrollDownText08{
    transform: rotate(140deg);
}
.scrollDownText09{
    transform: rotate(160deg);
}
.scrollDownText10{
    transform: rotate(180deg);
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}