.acsessContainar{
    width: 100%;
    height: 200vh;
    background-color: aliceblue;
    color: rgb(21, 21, 21);
}
/* 小見出し */
.acsessMainArea{
    padding-top: 70px;
    padding-bottom: 20px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
}
/* 小見出しアニメーション */
.acsessFadein01{
    opacity: 0;
    transition-delay: initial 1000ms; 
    transition: all 2700ms; /*1000msで1秒 */
}
.acsessFadein02{
    opacity: 0; 
    transition-delay: initial 1000ms;
    transition: all 3100ms; /*1000msで1秒 */   
}
.acsessFadein03{
    opacity: 0; 
    transition-delay: initial 1000ms;
    transition: all 2500ms; /*1000msで1秒 */   
}
.acsessFadein04{
    opacity: 0; 
    transition-delay: initial 1000ms;
    transition: all 2900ms; /*1000msで1秒 */   
}
.acsessFadein05{
    opacity: 0; 
    transition-delay: initial 1000ms;
    transition: all 1800ms; /*1000msで1秒 */   
}
.acsessFadein06{
    opacity: 0; 
    transition-delay: initial 1000ms;
    transition: all 3000ms; /*1000msで1秒 */   
}
.acsessscrollin{
    opacity: 1;
    transform: translate(0,0);
}
.tizu{
    margin: 0 auto;
}
.kara02{
    width: 100%;
    height: 10vh;
}
.acsessTextArea{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.acsessText{
    width: 70%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.acsessText01{
    font-size: 1.5rem;
    transition: all 800ms;
    opacity: 0;
    transform: translateX(200px);
    transition-timing-function: ease-in-out;
}
.acsessscrollin01{
    transform: translate(0,0);
    opacity: 1;
}
.acsessText02{
    opacity: 0;
    transform: translateX(-200px);
    transition: all 1000ms;
    transition-timing-function: ease-in-out;
}
.acsessscrollin02{
    transform: translate(0,0);
    opacity: 1;
}
.acsessText03{
    opacity: 0;
    transform: translateX(200px);
    transition: all 1200ms;
    transition-timing-function: ease-in-out;
}
.acsessscrollin03{
    transform: translate(0,0);
    opacity: 1;
}
/* スクロールダウンボタン */
.acsessscrollDownText{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.acsessscrollDownTextArea{
    animation: infinite;
    animation-name: rotate;
    animation-duration: 6000ms;
    animation-timing-function: linear;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.acsessscrollDownTextArea span{
    position: absolute;
    top: 0;
    left: calc(50% - 16px);/*中心点文字サイズ分ずらす*/
    display: inline-block;
    width: 30px;
    height: 100px;
    transform-origin: center bottom;/*回転の基準点*/
}
#acsessacolor{
    color: black;
    transition: all 500ms;
}
#acsessacolor:hover{
    color: aliceblue;
}
.acsessscrollDownButton{
    color: black;
    font-size: 1rem;
    position: absolute;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(245, 245, 245, 0.833);
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 800ms;
}
.acsessscrollDownButton:hover{
    width: 100px;
    height: 100px;
    color:whitesmoke;
    background-color: rgba(23, 23, 23, 0.858);
    border: 1px solid white;
}
.acsessscrollDownText01{
    transform: rotate(0deg);
}
.acsessscrollDownText02{
    transform: rotate(20deg);
}
.acsessscrollDownText03{
    transform: rotate(40deg);
}
.acsessscrollDownText04{
    transform: rotate(60deg);
}
.acsessscrollDownText05{
    transform: rotate(80deg);
}
.acsessscrollDownText06{
    transform: rotate(100deg);
}
.acsessscrollDownText07{
    transform: rotate(120deg);
}
.acsessscrollDownText08{
    transform: rotate(140deg);
}
.acsessscrollDownText09{
    transform: rotate(160deg);
}
.acsessscrollDownText10{
    transform: rotate(180deg);
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}